<!doctype html>
<html>
	<head>
		<title>SpaceChase - Find your spot</title>
		<link rel="stylesheet" href="/css/skeleton.css">
	  <link rel="stylesheet" type="text/css" href="../css/style.css">
		<meta charset="utf-8">
	</head>
