<% include head %>
<% include header %>

<div class="row voetbalvelden">
  <div class="twelve columns result">
    <!-- BG image -->
    <div class="info-result">
      <h5>Sporthal A</h5>
      <p>2km. 4.5 stars</p>
    </div> <!-- end veld info -->
  </div>

  <div class="row search">
    <div class="six columns">
      <button class="on-map" type="button" name="search"><a href="/map">Show on map</a></button>
    </div>  <!-- end of row Six columns -->
  </div><!-- end of row search -->
